*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shelf {
    border-bottom: 5px rgb(94, 58, 36) solid;
    width: 90vw;
    max-width: 800px;
    height: 50px;
    margin: 0 auto;
}

.shelf1 {
    background-color: rgb(157, 210, 192);
}
.shelf2 {
    background-color: rgb(210, 189, 157);
}
.shelf3 {
    background-color: rgb(200, 157, 210);
}